@using LETS.Models
@model LetsTradingDetails
@{
    Layout = "";
}
@Html.Partial("AddedUserSkills")
@using (Html.BeginForm("SkillsSettingsEdit", "Account", FormMethod.Post, new { id = "skills_settings", name = "form", novalidate = "" }))
{
    @Html.AntiForgeryToken()
    <div class="form-body">
        <div class="form-group">
            <div class="row">
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Skill, "TypeAhead", new { label = "Skill", @class = "col-xs-12", @required_message = "Please enter a skill." })
                </div>
                <div class="col-md-2 add_skill">
                    <button type="button" class="mdl-button mdl-js-button mdl-button--raised" onclick="return AddSkill()">
                        <i class="fa fa-plus fa-fw" aria-hidden="true"></i> Add
                    </button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
}