@using LETS.Models
@model RegisterUserViewModel
@{
    Layout = "";
}
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "change_password", name = "form", novalidate = "" }))
{
    @Html.AntiForgeryToken()
    <div class="form-body">
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    @Html.EditorFor(m => m.Account.OldPassword, "Password", new { label = "Old Password", @class = "col-xs-12", @required_message = "Please select your old password.", @placeholder = "Old Password" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    @Html.EditorFor(m => m.Account.NewPassword, "Password", new { label = "New Password", @class = "col-xs-12", @required_message = "Please enter your new password.", @placeholder = "New Password" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    @Html.EditorFor(m => m.Account.ConfirmNewPassword, "Password", new { label = "Confirm New Password", @class = "col-xs-12", @required_message = "Please confirm your new password.", @placeholder = "Confirm New Password" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
}