@using LETS.Models
@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
}
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "forgotPassword", name = "form", novalidate = "" }))
{
    <div class="form-body">
        <h3 class="form-section">Forgot Password</h3>

        <hr />
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    @Html.EditorFor(m => m.Email, "Text", new { label = "Username", @class = "col-xs-12", @required_message = "Please enter your username.", @placeholder = "Username" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                        Submit
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    @Html.ActionLink("go back to Login", "Login", new { controller = "Account" }, new { @class = "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn", @role = "button" })
                </div>
            </div>
        </div>
    </div>
}