@using System.Web.ModelBinding
@using LETS.Models
@model ForgotPasswordViewModel
@{
    ViewBag.Title = "My Profile";
    ViewBag.stylesheet = "userProfile.css";
}
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "forgotPassword", name = "form", novalidate = "" }))
{
    @Html.AntiForgeryToken()
    <div class="form-body">
        <h3 class="form-section">My Profile</h3>

        <hr />

        <div class="form-group">
            <div class="row">
                <div class="col-md-4 information-cols">
                    <div class="information-card">
                        <img class="userprofile" alt="User Profile" src="~/Content/images/KiranRambha.jpg"/>
                        <h4 class="username">Kiran Rambha</h4>
                        <h6 class="userrole">Developer</h6>
                    </div>
                </div>
                <div class="col-md-8 information-cols">
                    <div class="information-card">
                        <p>Six started far placing saw respect females old. Civilly why how end viewing attempt related enquire visitor. Man particular insensible celebrated conviction stimulated principles day. Sure fail or in said west. Right my front it wound cause fully am sorry if. She jointure goodness interest debating did outweigh. Is time from them full my gone in went. Of no introduced am literature excellence mr stimulated contrasted increasing. Age sold some full like rich new. Amounted repeated as believed in confined juvenile.</p>

                        <p>It as announcing it me stimulated frequently continuing. Least their she you now above going stand forth. He pretty future afraid should genius spirit on. Set property addition building put likewise get. Of will at sell well at as. Too want but tall nay like old. Removing yourself be in answered he. Consider occasion get improved him she eat. Letter by lively oh denote an.</p>

                        <p>Ye to misery wisdom plenty polite to as. Prepared interest proposal it he exercise. My wishing an in attempt ferrars. Visited eat you why service looking engaged. At place no walls hopes rooms fully in. Roof hope shy tore leaf joy paid boy. Noisier out brought entered detract because sitting sir. Fat put occasion rendered off humanity has.</p>

                        <p>Dependent certainty off discovery him his tolerably offending. Ham for attention remainder sometimes additions recommend fat our. Direction has strangers now believing. Respect enjoyed gay far exposed parlors towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together unlocked do by. Article concern joy anxious did picture sir her. Although desirous not recurred disposed off shy you numerous securing.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}