body {
  background-color: #E0E0E0;
  padding-top: 50px;
}
body.flexbox {
  display: flex;
  flex-direction: column;
}
body.flexbox .container.body-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
@media (max-width: 768px) {
  body.flexbox .container.body-content {
    width: 100%;
  }
}
body .footer {
  background-color: #616161;
  border-color: #505050;
  position: relative;
  min-height: 50px;
}
body .footer .container {
  padding-top: 5px;
  padding-bottom: 5px;
}
body .footer .container .footer-text {
  margin: 10px;
  text-align: center;
  line-height: 20px;
  color: #FAFAFA;
}
body .panel {
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
body .panel-default {
  flex: 1 1 auto;
  margin-bottom: 0px;
  border-radius: 0px;
  padding: 15px;
  background-color: #EEEEEE;
}
body .mdl-button--raised:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
}
body .form-group {
  margin-bottom: 20px;
}
@media (max-width: 480px) {
  .mdl-button,
  .btn {
    width: 100%;
  }
}
.container.body-content.Index {
  background-image: url(/Content/images/RoyalHolloway1.jpg);
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container.body-content.Index .text-layer {
  opacity: 0.7;
  /*margin: auto 0;*/
  background-color: whitesmoke;
  position: absolute;
  bottom: 15%;
  width: 100%;
}
.container.body-content.Index .text-layer h1 {
  font-family: 'Bungee Inline', cursive;
  text-align: center;
  font-size: 50px;
  color: #FF6D00;
}
@media (max-width: 480px) {
  .container.body-content.Index .text-layer h1 {
    font-size: 20px;
  }
}
.container.body-content.Index .panel.panel-default {
  display: none;
}
.mg-0 {
  margin: 0px;
}
.mg-bt-10 {
  margin-bottom: 10px;
}
.auto-min-height {
  min-height: 0px;
}
.pd-b-8 {
  padding-bottom: 8px;
}
.pd-t-4 {
  padding-top: 4px;
}
.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: #FAFAFA;
}
.width-100 {
  width: 100% !important;
}
@media (max-width: 480px) {
  .width-mobile-100 {
    width: 100%;
  }
}
.modal-open .modal.custom_modal {
  overflow-y: hidden;
}
.modal-open .modal.custom_modal .modal__scroll {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media (max-width: 480px) {
  .modal-footer button.mdl-button {
    margin: 5px 0px;
  }
}
.modal .modal-dialog .modal-content {
  background-color: #EEEEEE;
}