/*Errors*/
.error-block {
  display: none;
  color: #D50000;
  padding: 5px 0px 0px 0px;
}
.form-group.has-error .form-control {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #D50000;
}
.form-group.has-error .error-block {
  display: block;
}
.form-group.has-error .bar:before,
.form-group.has-error .bar:after {
  background: #D50000;
  box-shadow: inset 0 1px 1px #D50000, 0 0 8px #D50000;
}
.form-group.has-error .textbox:after {
  font-family: FontAwesome;
  content: "\f00d";
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  float: right;
  margin-top: -28px;
  color: #D50000;
}
.form-group.success .form-control {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #00BFA5;
}
.form-group.success .error-block {
  display: none;
}
.form-group.success .bar:before,
.form-group.success .bar:after {
  background: #00BFA5;
  box-shadow: inset 0 1px 1px #00BFA5, 0 0 8px #00BFA5;
}
.form-group.success .textbox:after {
  font-family: FontAwesome;
  content: "\f00c";
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  float: right;
  margin-top: -28px;
  color: #00BFA5;
}