.twitter-typeahead {
  display: initial !important;
}
.twitter-typeahead .tt-menu {
  font-size: 22px;
  position: inherit !important;
  padding: 10px 0px;
  margin-top: 5px;
  background-color: #E0E0E0;
  border-radius: 5px;
}
.twitter-typeahead .tt-menu .tt-suggestion {
  padding: 5px 10px;
}
.twitter-typeahead .tt-menu .tt-suggestion:hover {
  background-color: #212121;
  color: #E0E0E0;
  cursor: pointer;
}