@using LETS.Models
@model LetsUser

<div id="CreateNewRequestModal" class="modal fade" role="dialog" data-backdrop="static">
    @using (Html.BeginForm("ChangeProfilePicture", "Account", FormMethod.Post, new { id = "create_request", name = "form", novalidate = "", enctype = "multipart/form-data" }))
    {
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create a New Request</h4>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.EditorFor(m => m.UserTradingDetails.Request.Description, "Text", new { label = "What is your request?", @class = "col-xs-12", @required_message = "You cannot post a request without explaining it.", @placeholder = "Explain your request in detail" })
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-10">
                                    @Html.EditorFor(m => m.UserTradingDetails.Request.Tag, "TypeAhead", new { label = "Add tags appropriate to your request", @class = "col-xs-12", @required_message = "Please add atleast one tag before submitting the request", @placeholder = "Gardening" })
                                </div>
                                <div class="col-md-2 add_skill">
                                    <button type="button" class="mdl-button mdl-js-button mdl-button--raised" onclick="return AddSkill()">
                                        <i class="fa fa-plus fa-fw" aria-hidden="true"></i> Add
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.EditorFor(m => m.UserTradingDetails.Request.Description, "Text", new { label = "What is the budget?", @class = "col-xs-12", @required_message = "Please provide the maximum LETS credit you are willing to spend on this request", @placeholder = "41.99" })
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary" data-dismiss="modal">
                        <i class="fa fa-times" aria-hidden="true"></i> Close
                    </button>
                    <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i> Post
                    </button>
                </div>
            </div>
        </div>
    }
</div>