@using LETS.Models
@model ComponentsGuideModels
@{
    ViewBag.Title = "Components";
}
@using (Html.BeginForm("ComponentsGuide", "Home", FormMethod.Post, new { id = "components-guide", name = "form", novalidate = "" }))
{
    <div class="form-body">
        <h3 class="form-section">The Components</h3>

        <hr />

        <h4>TextBox</h4>
        <div class="row">
            <div class="col-md-6">
                @Html.EditorFor(m => m.FullName, "Text", new { label = "Full Name", @class = "col-xs-12", @required_message = "Please enter your full name.", @placeholder = "Full Name" })
                @*<p ng-cloak class="lead">My full name is {{FullName}}</p>*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <figure class="highlight">
                    <div class="well">
                        <code class="language-html" data-lang="html">
                            <span>@@Html.EditorFor(m => m.FullName, "Text", new { label = "Full Name", @@class = "col-xs-12", @@required_message = "Please enter your full name", @@placeholder = "Full Name" })</span>
                        </code>
                    </div>
                </figure>
            </div>
        </div>

        <hr />

        <h4>Password</h4>
        <div class="row">
            <div class="col-md-6">
                @Html.EditorFor(m => m.Password, "Password", new { label = "Password", @class = "col-xs-12", @required_message = "Please enter your password.", @placeholder = "Password" })
            </div>
            <div class="col-md-6">
                @Html.EditorFor(m => m.ConfirmPassword, "Password", new { label = "Confirm Password", @class = "col-xs-12", @required_message = "Please confirm your selected password.", @placeholder = "Confirm Password" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <figure class="highlight">
                    <div class="well">
                        <code class="language-html" data-lang="html">
                            <span>@@Html.EditorFor(m => m.Password, "Password", new { label = "Password", @@class = "col-xs-12", @@required_message = "Please enter your password.", @@placeholder = "Password" })</span>
                        </code>
                    </div>
                </figure>
            </div>
        </div>

        <hr />

        <h4>Agree or Disagree</h4>
        <div class="row">
            <div class="col-md-6">
                @Html.EditorFor(m => m.Gender, "Radio", new { label = "Gender", @class = "col-xs-12", @required_message = "Please select your gender." })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <figure class="highlight">
                    <div class="well">
                        <code class="language-html" data-lang="html">
                            <span>@@Html.EditorFor(m => m.Gender, "Radio", new { label = "Agree", @@class = "col-xs-12", @@required_message = "Please select your gender." })</span>
                        </code>
                    </div>
                </figure>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Submit
                </button>
            </div>
        </div>
    </div>
}