//primary colors
@brand-primary-50: #FAFAFA;
@brand-primary-100: #F5F5F5;
@brand-primary-200: #EEEEEE;
@brand-primary-300: #E0E0E0;
@brand-primary-400: #BDBDBD;
@brand-primary-500: #9E9E9E;
@brand-primary-600: #757575;
@brand-primary-700: #616161;
@brand-primary-800: #424242;
@brand-primary-900: #212121;

//primary accent colors
@brand-primary-a100: #FFD180;
@brand-primary-a200: #FFAB40;
@brand-primary-a400: #FF9100;
@brand-primary-a700: #FF6D00;

//secondary accent colors
@brand-success: #00BFA5; //Green A700
@brand-danger: #D50000; //Red A700
@brand-info: #00B0FF; //Blue A700