//primary colors
@brand-primary-50: #E3F2FD;
@brand-primary-100: #BBDEFB;
@brand-primary-200: #90CAF9;
@brand-primary-300: #64B5F6;
@brand-primary-400: #42A5F5;
@brand-primary-500: #2196F3;
@brand-primary-600: #1E88E5;
@brand-primary-700: #1976D2;
@brand-primary-800: #1565C0;
@brand-primary-900: #0D47A1;

//primary accent colors
@brand-primary-a100: #82B1FF;
@brand-primary-a200: #448AFF;
@brand-primary-a400: #2979FF;
@brand-primary-a700: #2962FF;

//secondary accent colors
@brand-success: #00E676; //Green A400
@brand-danger: #FF1744; //Red A400