@import "../../theme/variables.less";
@import "../../theme/colors.less";

.add_user {
    margin: 22px 0px;
}

.mdl-card.post-card {
    background-color: @brand-primary-300;

    .mdl-button {
        &:hover {
            text-decoration: none;
        }
    }

    .mdl-card__title.request-title {
        display: block;
    }
}

.mdl-chip {
    &.display-chip {
        background-color: @brand-primary-500;

        &:active {
            background-color: @brand-primary-500;
        }

        @media (max-width: @screen-phone) {
            width: 100%;
            text-align: center;
        }
    }
}

.message-box {
    min-height: 300px;
    max-height: 300px;
    display: none;
}

.message_box {
    min-height: 300px;
    max-height: 300px;
    background-color: @brand-primary-200;

    .message_canvas {
        height: 265px;
        overflow: auto;

        .custom-message-padding {
            padding: 5px;

            .message-chip {
                white-space: normal;
                height: inherit;
                max-width: 70%;
                width: auto;
            }
        }
    }

    .message_input {
        width: 100%;

        .form-group {
            margin-bottom: 0px;

            input.form-control {
                height: 36px;
                padding: 6px;
                border-top: 2px solid @brand-primary-600;
                border-bottom: none;
            }

            @media (max-width: @screen-phone) {
                .send-button {
                    width: 64px;
                }
            }
        }
    }
}

.collapse-btn, .expand-btn {
    &.togglehide {
        display: none;
    }
}

.post-card.temp_hide {
    display: none;
}

.message-chip.my-message {
    background-color: @brand-primary-a400;
}

.custom_message_size {
    font-size: 13px;
    margin-bottom: 2px !important;
}