.timeline__posts {
  padding: 0px 10px;
}
.timeline__posts .timeline-card {
  width: 100%;
  min-height: 250px;
  position: relative;
  background-color: #E0E0E0;
}
@media (max-width: 768px) {
  .timeline__posts .timeline-card {
    min-height: auto;
  }
}
.timeline__posts .timeline-card .mdl-card__username {
  padding: 10px 16px 5px 16px;
}
.timeline__posts .timeline-card .mdl-card__username label {
  font-size: 16px;
  margin-bottom: 0px;
}
.timeline__posts .timeline-card .mdl-card__username .date-posted {
  margin: 0px;
  font-size: 12px;
  color: #757575;
}
.timeline__posts .timeline-card .mdl-card__username .budget-chip {
  background-color: #F0AD4E;
}
.timeline__posts .timeline-card .mdl-card__username .budget-chip:active {
  background-color: #F0AD4E;
}
@media (max-width: 480px) {
  .timeline__posts .timeline-card .mdl-card__username .budget-chip {
    text-align: center;
  }
}
.timeline__posts .timeline-card .mdl-card__title {
  font-size: 20px;
  padding: 0px 16px;
}
.timeline__posts .timeline-card .mdl-card__supporting-text {
  width: 100%;
}
.timeline__posts .timeline-card .mdl-card__actions {
  position: absolute;
  bottom: 0;
  padding: 16px;
}
.timeline__posts .timeline-card .mdl-card__actions .mdl-chip.tag-chip {
  background-color: #9E9E9E;
}
@media (max-width: 768px) {
  .timeline__posts .timeline-card .mdl-card__actions {
    position: relative;
  }
}
.timeline__posts .post-position {
  padding: 2.5px;
}
.timeline__posts .post-position:hover {
  box-shadow: inset 0 0px 0px #616161, 0px 0px 10px #616161;
  background-color: #E0E0E0;
  cursor: pointer;
}