.information-cols {
  padding-bottom: 15px;
}
.information-cols .information-card {
  padding: 10px;
  border: 3px solid #BDBDBD;
  border-radius: 5px;
  background-color: #EEEEEE;
}
.information-cols .information-card h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.information-cols .information-card .tab-pane {
  margin-top: 20px;
}
.information-cols .information-card .userinfo {
  margin-bottom: 30px;
}
.information-cols .information-card .userinfo .userprofile {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('/Account/GetProfilePicture');
  display: inline-block;
  width: 200px;
  height: 230px;
  display: table;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
.information-cols .information-card .userinfo .userprofile .picture-edit {
  display: none;
}
.information-cols .information-card .userinfo .userprofile:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/Account/GetProfilePicture');
  display: inline-block;
  width: 200px;
  height: 230px;
  display: table;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  cursor: pointer;
}
.information-cols .information-card .userinfo .userprofile:hover .picture-edit {
  display: block;
  text-align: center;
  vertical-align: middle;
  line-height: 230px;
  margin: 0px;
}
@media (max-width: 768px) {
  .information-cols .information-card .userinfo .userprofile {
    width: 200px;
    height: 230px;
  }
}
.information-cols .information-card .userinfo .mid {
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  font-size: 2rem;
}
.information-cols .information-card .userinfo .username {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0px;
}
.information-cols .information-card .userinfo .userrole {
  text-align: center;
  margin: 0px;
  font-weight: bold;
  color: #616161;
}
.information-cols .information-card .userinfo .useraccountbalance {
  background-color: #212121;
  font-weight: bolder;
  margin: 5px -12.5px 0px -12.5px;
  padding: 20px;
  text-align: center;
  color: #F0AD4E;
}
.information-cols .information-card .usermenu {
  margin-left: -10px;
  margin-right: -10px;
}
.information-cols .information-card .usermenu .nav li {
  font-size: 18px;
}
.information-cols .information-card .usermenu .nav li a {
  font-weight: normal;
  color: #212121;
}
.information-cols .information-card .usermenu .nav li a:hover {
  background-color: #BDBDBD;
}
.information-cols .information-card .usermenu .nav li.active {
  background-color: #FAFAFA;
  border-left: 3px solid #FF9100;
  margin-left: -2.5px;
}
.information-cols .information-card .usermenu .nav li.active a {
  color: #FF9100;
}
.information-cols .information-card .usermenu .nav li.active a:focus {
  background-color: #FAFAFA;
}
@media (max-width: 480px) {
  .information-cols .information-card .usermenu .nav li.active {
    margin-left: -3px;
  }
}
@media (min-width: 768px) {
  .information-cols .information-card .usermenu .nav li.active {
    margin-left: -2.5px;
  }
}
.information-cols .information-card ul.nav.nav-tabs.nav-justified li {
  border-bottom: 1px solid #9E9E9E;
}
.information-cols .information-card ul.nav.nav-tabs.nav-justified li a {
  border-radius: 0px;
  background-color: transparent;
  border: none;
  padding-top: 11.7px;
  padding-bottom: 11.7px;
  color: #616161;
  font-weight: bold;
}
.information-cols .information-card ul.nav.nav-tabs.nav-justified li a:hover {
  color: #FFAB40;
  border-bottom: 4px solid #FFAB40;
}
@media (max-width: 480px) {
  .information-cols .information-card ul.nav.nav-tabs.nav-justified li a {
    margin-bottom: 0px;
  }
}
.information-cols .information-card ul.nav.nav-tabs.nav-justified li.active {
  border-bottom: 1px solid #FF9100;
}
.information-cols .information-card ul.nav.nav-tabs.nav-justified li.active a {
  color: #FF9100;
  border-bottom: 4px solid #FF9100;
}
@media (min-width: 992px) {
  .information-cols.col-md-8 {
    padding-left: 0px;
  }
}
.information-cols .user_details_table table {
  margin-bottom: 0px;
}
.information-cols .user_details_table table tr th p {
  margin: 8px 0px;
}
.information-cols .user_details_table table tr td label {
  margin: 8px 0px;
}
.information-cols .user_details_table table tr:first-child th,
.information-cols .user_details_table table tr:first-child td {
  border-top: none;
}
.information-cols .add_skill {
  margin: 22px 0px;
}
.information-cols .add_skill button {
  padding: 0px 10px;
}
.information-cols .user_skills_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.information-cols .user_skills_list .no_user_skills {
  width: 100%;
}
.information-cols .user_skills_list .user_skill {
  margin-right: 10px;
}
.information-cols .user_skills_list .user_skill button {
  margin-left: 10px;
}
@media (max-width: 480px) {
  .information-cols .user_skills_list .user_skill {
    width: 100%;
  }
}
#change_avatar .modal-content {
  background-color: #FAFAFA;
}
#change_avatar .modal-content h4 {
  margin: 0px !important;
}
#change_avatar .modal-content button.close {
  margin: 6px 0px !important;
}
#change_avatar .modal-content .bootstrap-filestyle.input-group .btn.btn-default.custom-browse-btn {
  border-radius: 0px !important;
  border-color: #BDBDBD !important;
  border-right: none;
  border-width: 2px !important;
}
#change_avatar .modal-content .bootstrap-filestyle.input-group input.form-control {
  background-color: #FAFAFA !important;
  border: 2px solid #BDBDBD !important;
  padding: 16px 5px;
}
#change_avatar .modal-content #progressbar .progress {
  margin: 10px 0px;
  background: #f5f5f5;
  border: 0px solid #f5f5f5;
  border-radius: 0px;
  height: 21px;
}
#change_avatar .modal-content #progressbar .progress-bar-custom {
  background: #5e6973;
}
#change_avatar .modal-content #progressbar .progress-striped .progress-bar-custom {
  background-color: #5e6973;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent)));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 43px 43px;
}
@media (max-width: 480px) {
  .mobile-request-button {
    width: 10% !important;
    height: 33px !important;
    font-size: 13px !important;
  }
}
/*.modal {
    .modal-dialog {
        .modal-content {
            background-color: @brand-primary-50;

            .form-group {
                .form-control {
                    background-color: @brand-primary-50;
                }
            }
        }
    }
}*/
#CreateNewRequestModal .modal-content h4 {
  margin: 0px !important;
}
#CreateNewRequestModal .modal-content button.close {
  margin: 6px 0px !important;
}
#NewRequestTags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#NewRequestTags .request-tag {
  margin-right: 10px;
}
#NewRequestTags .request-tag button.close {
  margin: 0px !important;
  margin-left: 5px !important;
  margin-top: -1px !important;
}
.mdl-card.post-card {
  background-color: #E0E0E0;
}
.mdl-card.post-card .mdl-button:hover {
  text-decoration: none;
}
.mdl-card.post-card .mdl-card__title.request-title {
  display: block;
}
.mdl-chip.tag-chip {
  background-color: #9E9E9E;
}
.mdl-chip.tag-chip:active {
  background-color: #9E9E9E;
}
@media (max-width: 480px) {
  .mdl-chip.tag-chip {
    width: 100%;
    text-align: center;
  }
}
.mdl-chip.bid-chip {
  text-align: center;
  background-color: #FF9100;
}
.mdl-chip.bid-chip:active {
  background-color: #FF9100;
}
@media (max-width: 480px) {
  .mdl-chip.bid-chip {
    width: 100%;
  }
}
.mdl-chip.budget-chip {
  background-color: #F0AD4E;
}
.mdl-chip.budget-chip:active {
  background-color: #F0AD4E;
}
@media (max-width: 480px) {
  .mdl-chip.budget-chip {
    text-align: center;
    float: left !important;
  }
}
#ExpandedRequest .modal-content h4 {
  margin: 0px !important;
}
#ExpandedRequest .modal-content button.close {
  margin: 6px 0px !important;
}
.new_posted_request.temp_hide {
  display: none;
}
.modal.fade:not(.in).left .modal-dialog {
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}
.mdl-button--accent.mdl-button--accent.mdl-button--raised.mdl-chip.bid-chip {
  color: #212121;
  background-color: #FF9100;
}
.mdl-button--accent.mdl-button--accent.mdl-button--raised.mdl-chip.bid-chip[disabled][disabled] {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.26);
  box-shadow: none;
}
.text-budget-chip {
  font-weight: bold;
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #F0AD4E;
  display: inline-block;
}
.job-completed {
  color: #FF9100;
  margin: 5px 0px;
}
@media (max-width: 480px) {
  .job-completed {
    float: right !important;
    margin: 5px;
  }
}
.job-completed-text {
  margin: 7px 0px;
  color: #FF6D00;
}
.blink {
  -webkit-animation: blink .50s linear infinite;
  -moz-animation: blink .50s linear infinite;
  -ms-animation: blink .50s linear infinite;
  -o-animation: blink .50s linear infinite;
  animation: blink .50s linear infinite;
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab {
  height: 36px;
  min-width: 36px;
  width: 36px;
}