@import "../../theme/variables.less";
@import "../../theme/colors.less";

.information-cols {
    padding-bottom: 15px;

    .information-card {
        padding: 10px;
        border: 3px solid @brand-primary-400;
        border-radius: 5px;
        background-color: @brand-primary-200;

        h4 {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .tab-pane {
            margin-top: 20px;
        }

        .userinfo {
            margin-bottom: 30px;

            .userprofile {
                display: inline-block;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                display: table;
                margin: 0 auto;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;

                @media (max-width: @screen-tablet) {
                    width: 200px;
                    height: 200px;
                }
            }

            .username {
                text-align: center;
                font-weight: bold;
                margin-bottom: 0px;
            }

            .userrole {
                text-align: center;
                margin: 0px;
                font-weight: bold;
                color: @brand-primary-700;
            }

            .useraccountbalance {
                background-color: @brand-primary-900;
                font-weight: bolder;
                margin: 5px -12.5px 0px -12.5px;
                padding: 20px;
                text-align: center;
                color: #F0AD4E;
            }
        }

        .usermenu {
            margin-left: -10px;
            margin-right: -10px;

            .nav {
                li {
                    font-size: 18px;

                    a {
                        font-weight: normal;
                        color: @brand-primary-900;

                        &:hover {
                            background-color: @brand-primary-400;
                        }
                    }

                    &.active {
                        background-color: @brand-primary-50;
                        border-left: 3px solid @brand-primary-a400;
                        margin-left: -2.5px;

                        a {
                            color: @brand-primary-a400;

                            &:focus {
                                background-color: @brand-primary-50;
                            }
                        }

                        @media (max-width: @screen-phone) {
                            margin-left: -3px;
                        }

                        @media (min-width: @screen-tablet) {
                            margin-left: -2.5px;
                        }
                    }
                }
            }
        }

        ul.nav.nav-tabs.nav-justified {
            li {
                a {
                    border-radius: 0px;
                    background-color: transparent;
                    border: none;
                    padding-top: 11.7px;
                    padding-bottom: 11.7px;
                }

                border-bottom: 1px solid @brand-primary-500;

                &.active {
                    border-bottom: 3.5px solid @brand-primary-a400;

                    a {
                        color: @brand-primary-a400;
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }

    @media (min-width: @screen-desktop) {
        &.col-md-8 {
            padding-left: 0px;
        }
    }

    .user_details_table {
        table {
            margin-bottom: 0px;

            tr {
                th {
                    p {
                        margin: 8px 0px;
                    }
                }

                td {
                    label {
                        margin: 8px 0px;
                    }
                }

                &:first-child {
                    th, td {
                        border-top: none;
                    }
                }
            }
        }
    }

    .add_skill {
        margin: 22px 0px;

        button {
            padding: 0px 10px;
        }
    }

    .user_skills_list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .no_user_skills {
            width: 100%;
        }

        .user_skill {
            margin-right: 10px;

            button {
                margin-left: 10px;
            }

            @media (max-width: @screen-phone) {
                width: 100%;
            }
        }
    }
}
