@using System.Configuration;

@{
    var publicKey = ConfigurationManager.AppSettings.GetValues("ReCaptcha.PublicKey").FirstOrDefault();
    var scriptUrl = "http://www.google.com/recaptcha/api/challenge?k=" + publicKey;
    var noscriptUrl = "http://www.google.com/recaptcha/api/noscript?k=" + publicKey;
    string messege = "";
    if (ViewData.ModelState != null && ViewData.ModelState.Keys.Count != 0 && ViewData.ModelState.Values.Count != 0 && ViewData.ModelState.ContainsKey("ReCaptcha"))
    {
        messege = ViewData.ModelState.Where(m => m.Key == "ReCaptcha").FirstOrDefault().Value.Errors.FirstOrDefault().ErrorMessage.ToString();
    }
}

<div class="row">
    <div class="form-group col-md-6">
        <div class="card">
            <div id="recaptcha_widget" class="recaptcha_widget">
                <div id="recaptcha_image" class="recaptcha_image"></div>
                <div class="recaptcha_only_if_incorrect_sol" style="color:red">Incorrect please try again</div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="recaptcha_only_if_image">Please enter the code below *</label>
                                <label class="recaptcha_only_if_audio">Please type every number you hear *</label>
                            </div>
                            <div class="col-xs-12">
                                <input class="form-control" type="text" placeholder="Enter Captcha Here" required id="recaptcha_response_field" name="recaptcha_response_field" data-val-required="Please enter the text displayed above." />
                                <div class="error-block">
                                    <div class="error-message" role="alert">
                                        <label>Please respond to this recaptcha.</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12 mg-bottom-0">
                        <a class="btn btn-default mdl-button--raised mdl-js-ripple-effect recaptcha_custom_button pull-right no-pull-right-mobile mobile-mg-bottom-5" href="javascript:Recaptcha.showhelp()"><i class="fa fa-info" aria-hidden="true"></i></a>
                        <a class="recaptcha_only_if_image btn btn-default mdl-button--raised mdl-js-ripple-effect recaptcha_custom_button pull-right mg-right-5 no-pull-right-mobile mobile-mg-bottom-5" href="javascript:Recaptcha.switch_type('audio')"><i class="fa fa-headphones" aria-hidden="true"></i></a>
                        <a class="recaptcha_only_if_audio btn btn-default mdl-button--raised mdl-js-ripple-effect recaptcha_custom_button pull-right mg-right-5 no-pull-right-mobile mobile-mg-bottom-5" href="javascript:Recaptcha.switch_type('image')"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a class="btn btn-default mdl-button--raised mdl-js-ripple-effect recaptcha_custom_button pull-right mg-right-5 no-pull-right-mobile mobile-mg-bottom-5" href="javascript:Recaptcha.reload()"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                        <label class="mg-bottom-0 pull-left"><i class="fa fa-google ft-size-42" aria-hidden="true"></i>oogle reCAPTCHA</label>
                    </div>
                </div>
            </div>
            <script type="text/javascript" src=@scriptUrl></script>
            <noscript>
                <iframe src=@noscriptUrl height="300" width="500" frameborder="0"></iframe><br>
                <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
                <input type="hidden" name="recaptcha_response_field" value="manual_challenge">
            </noscript>
        </div>
        @if (!string.IsNullOrEmpty(messege))
        {
            <div id="captcha-error" class="error-block">
                <div class="error-message" role="alert">
                    <label>Please ensure that the value you enter matches the Captcha value shown.</label>
                </div>
            </div>
        }
    </div>
</div>